<div class="card border border-dark rounded">
  <div class="card-header text-white bg-dark">
    <h3 class="card-title">{{title}}</h3>
  </div>
  <div class="card-body">
    <p class="card-text">{{note_content}}</p>
  </div>
</div>